
.body{
    font-family: 'Montserrat', sans-serif;
    background-color: black ;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 800;
    transition: .3s;
}
.logo:hover{
    transform: scale(1.2);
}

.taimyLogo{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ;
}
.metronom{
    height: 1.2em;
    width: 1.2em;
    margin: 0;
    margin-bottom: 12px;
    background-image: url(assets/images/metronom.gif);
    background-size: cover;
    text-decoration: underline;
}
.gradient{
filter: brightness(30%);
}
audio:active, audio:focus {
  outline: none;
}
audio{
    width: 100%;
}
audio::-webkit-media-controls-panel{
    background-color: white;
}

audio::-webkit-media-controls-mute-button{
    
}

audio::-webkit-media-controls-play-button{
    background-color: white;
}

audio::-webkit-media-controls-timeline-container

audio::-webkit-media-controls-current-time-display

audio::-webkit-media-controls-time-remaining-display

audio::-webkit-media-controls-timeline

audio::-webkit-media-controls-volume-slider-container

audio::-webkit-media-controls-volume-slider

audio::-webkit-media-controls-seek-back-button

audio::-webkit-media-controls-seek-forward-button

audio::-webkit-media-controls-fullscreen-button

audio::-webkit-media-controls-rewind-button

audio::-webkit-media-controls-return-to-realtime-button

audio::-webkit-media-controls-toggle-closed-captions-button*/
