.btn-contacts{
    transition: 0.3s linear;
}
img {max-width:100%;height:auto;}
.bg-dark{
    background-color: black;
}
.body{
    font-family: 'Montserrat', sans-serif;
    background-color: black ;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 800;
    transition: .3s;
}
.logo:hover{
    transform: scale(1.05);
}

.taimyLogo{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ;
}
.metronom{
    height: 1.2em;
    width: 1.2em;
    margin: 0;
    margin-bottom: 12px;
    background-image: url(images/metronom.gif);
    background-size: cover;
    text-decoration: underline;
}
.gradient{
filter: brightness(30%);
}


